<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>tts-server test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="{{ static_url("jquery-1.8.2.min.js")}}", type="text/javascript" charset="utf-8"> </script>
</body>
  <style type="text/css">
    body {
      background-color: #789; margin: 0;
      padding: 0; font: 14px Helvetica, Arial, sans-serif;
    }
    div.content {
      width: 800px; margin: 2em auto; padding: 20px 50px;
      background-color: #fff; border-radius: 1em;
    }
    #messages {
      border: 2px solid #fec; border-radius: 1em;
      height: 10em; overflow: scroll; padding: 0.5em 1em;
    }
    a:link, a:visited { color: #69c; text-decoration: none; }
    @media (max-width: 700px) {
      body { background-color: #fff; }
      div.content {
        width: auto; margin: 0 auto; border-radius: 0;
        padding: 1em;
      }
    }
</style>

<script language="javascript" type="text/javascript">

    function ajaxSubmit(frm, fn, err) {
        var dataPara = getFormJson(frm);
        $.ajax({
            url: frm.action,
            type: frm.method,
            data: dataPara,
            success: fn,
            error: err
        });
    }

    //将form中的值转换为键值对。
    function getFormJson(frm) {
        var o = {};
        var a = $(frm).serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }

    var last_audio = null;
    $(document).ready(function(){
        $('#ttsform').bind('submit', function(){
            ajaxSubmit(this, function(r){
                var body = document.getElementsByTagName('body')[0];
                if (last_audio) {
                    body.removeChild(last_audio); 
                    last_audio = null
                }

                if (r.success) {
                    audio = document.createElement('audio');
                    audio.src = "/tts/voice/" + r.data.file
                    audio.autoplay = true
                    body.appendChild(audio)
                    last_audio = audio
                }
                else {}
            });
            return false;
        });
    })
</script>
</head>
<body>
  <div class="content">
    <h1>TTS-Server Demonstration</h1>
    <form id="ttsform" action="/tts" method="post" accept-charset="utf-8">
        <p>
            人声选项：
            <select name="voice">
                {% for voice in voicelist %}
                <option value ="{{voice}}">{{voice}}</option>
                {% end %}
            </select>
        </p>
        <p>
            <input id="ttstext" type="text" name="text" value="" />
        </p>
        <p><input type="submit" value="say it"></p>
    </form>
  </div>
</body>
</html>

